* {
    font-family: 'Inter', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    font-size: 14px;
}

.full-row {
    background-color: #181818;
    height: 0.5px;
    width: 100%;
}
.row {
    background-color: #181818;
    height: 0.5px;
    width: 90%;
}
.title-headings {
    display: flex;
    gap: 1%;
    align-items: baseline;
}


.experience-header {
    display: flex;
    justify-content: end;
}
.experience-header h5 {
    width: 60%;
}

.experience-header p {
    width: 40%;
    text-align: right;

}


.resume-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
}

.resume-card {
    border: 0.5px solid #181818;
    padding: 2%;
    border-radius: 15px;
}

form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 20px;
}

@media print {
    * {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    font-size: 14px;
}

.full-row {
    background-color: #181818;
    height: 0.5px;
    width: 100%;
}
.row {
    background-color: #181818;
    height: 0.5px;
    width: 90%;
}
.title-headings {
    display: flex;
    gap: 1%;
    align-items: baseline;
}


.experience-header {
    display: flex;
    justify-content: end;
}
.experience-header h5 {
    width: 60%;
}

.experience-header p {
    width: 40%;
    text-align: right;

}


.resume-cards {
    display: flex;
    gap: 15px;
    justify-content: center;
}

.resume-card {
    border: 0.5px solid #181818;
    padding: 2%;
    border-radius: 15px;
}
}







/*Sales application*/


main {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 7%;
    min-height: 85vh;
}

nav {
    margin-top: 2%;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    justify-content: space-between;
}

.logo-container {
    width: 50px;
}
.logo {
    background:no-repeat url('../images/Logo.svg');
    background-size:contain;
    display: block;
    height: 50px;
}

.client-navigation {
    display: flex;
    align-items: end;
}
.client-navigation ul {
    display: flex;
    gap: 15px;
}
.client-navigation ul li,a {
    list-style: none;
    text-decoration: none;
    color: #181818;
}

.landing-container {
    display: flex;
    justify-content: space-between;
}



@keyframes loadOpacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
    
}
@keyframes slideInRight {
    from {
      transform: translateX(100%);
    }
  
    to {
      transform: translateX(0%);
    }
  }

  @keyframes slideInLeft {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(0%);
    }
    
  }
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  /* Apply the animation to the elements with the "hidden" class */
.reveal {
  animation: fadeIn 1s ease-in-out;
}

.landing-container-img {
    background-color: #0D2149;
    padding-right: 7px;
    padding-bottom: 2px;
    border-radius: 50px;
    animation: slideInRight 350ms linear;
}

.landing-img {
    background: no-repeat url('../images/handshake.webp');
    border: 1px solid #0D2149;
    height: 450px;
    width: 450px;
    background-position: 50% 30%;
    background-size: cover;
    border-radius: 50px;
}

.landing-cta {
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.landing-cta h1 {
    animation: loadOpacity 1.5s linear;
    font-size: 92px;
    width: 75%;
    letter-spacing: -1.5px;
    color: #000000;
}

.landing-cta p {
    animation: loadOpacity 1s linear;
    font-size: 1.5em;
    width: 75%;
    color: #464545;
}

.call-to-action-demo {
    display: flex;
}
#cta-demo-btn {
    border-radius: 14px;
    padding: 5px 25px;
    color: #fff;
    font-weight: 600;
    background-color: #0D2149;
    transition: transform 650ms linear;
}
#cta-demo-btn:hover, #cta-demo-btn:focus-visible {
    background-color: #464545;
    color:#fff;
    font-weight: 600;
    transform: translateY(-5px);
    transition: transform 250ms;
}

.about-container {
    min-height: 100vh;
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 5%;
    display: flex;
    gap: 50px;
    justify-content: space-between;
}

.about-img {
    background: no-repeat url('../images/interview.jpeg');
    background-size: cover;
    border: 0.1px solid #0D2149;
    background-position: 10% 30%;
    border-radius: 50px;
    height: 450px;
    width: 450px;
    animation: slideInLeft 250ms linear;
}

.about-container-text {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.about-container-text h2 {
    animation: loadOpacity 1s linear;
    font-size: 64px;
}

.about-container-text p {
    font-size: 1.5em;
    color: #464545;

}

.hidden {
    opacity: 0;
    transition: all 7s;
}

.show {
    opacity: 1;
}
