@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

body {
  font-family: "Inter", Arial, "sans-serif";
}

header {
  border: 7px #121212 solid;
  padding: 12px;
}

#main {
  border: 7px #121212 solid;
  padding: 12px;
}

footer {
  border: 7px #121212 solid;
  padding: 12px;
}
