@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Inter", Arial, "sans-serif";
  background-color: #fff;
}

header {
  border: 1px #fff solid;
  display: flex;
  justify-content: space-between;
}
header ul {
  display: flex;
  gap: 12px;
}
header ul li {
  text-decoration: none;
  list-style: none;
  border: 1px #eee solid;
  padding: 15px;
}

#main {
  border: 7px #121212 solid;
  padding: 12px;
  height: 100%;
}

section {
  border: 1px #fff solid;
  padding: 12px;
}
